* { box-sizing: border-box; }
body {
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: slategray;
    color: #334;
    font-family: Helvetica, Arial, sans-serif;
    background-image: url(./assets/img1.jpg) ;
    background-size: cover;
}
#wrapper {
    width: 50%;
    height: 55em;
    margin: 0 10% 0 10%;
    background-image: url(./assets/25235.jpg);
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}
header {
    padding: 2%;
}
main {
    padding: 2%;
}
footer {
    padding: 2%;
    color: white;
}

#nameInput {
    margin:25px;
    padding: 4px;
    font-size: medium;
    
}

#inputName {
    margin:25px;
    padding: 4px;
    font-size: medium;

}

#numToWin {
    margin:25px;
    padding: 4px;
    font-size: medium;

}

#removePrevWins {
    margin:25px;
    padding: 4px;
    font-size: medium;

}

#selectWinner {
    margin:25px;
    padding: 4px;
    font-size: medium;

}

#reset{
    margin:25px;
    padding: 4px;
    font-size: medium; 
}
